:root {
  /* Declara as variaveis que serão utilizadas no projeto, facilita na chamada */

  --white: #fff;
  --gray7: #e1e1e6;
  --gray6: #c4c4cc;
  --gray5: #8d8d99;
  --gray4: #7c7c8a;
  --gray3: #323238;
  --gray2: #202024;
  --gray1: #121214;

  --green-light: #00b37e;
  --green: #00875f;

  --red-danger: #f75a68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-600);
}

/* Resetando as configurações do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilizando as caracteristicas globais do projeto */

body {
  background-color: var(--gray1);
  color: var(--gray7);
  -webkit-font-smoothing: antialiased;
}

/* As tags input, textarea e button tem propriedades que sobrescrevem as declaradas no body */
body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
